<h1>Listing articles</h1>

<% @articles.each do |article| %>
  <div>
    <h2 style="margin: 0"><%= article.title %></h2>
    <p style="margin-top: 0">
      <%= article.text %>
      <br/>
      <%= link_to('Read more', article_path(article)) %>
    </p>
  </div>
<% end %>

<div>
  <%= link_to('Submit new article', new_article_path) %>
</div>
